#translate-popup-mobile {
    width: 100%;
    min-height: 15%;
    background-color: var(--active-secondary-bg);
    position: absolute;
    border-radius: 0 0 10% 10%;
    transition: 0.2s ease-out;
    top: 0;
    display: flex;
    z-index: 100;
    color: var(--active-secondary-fg);
    font-size: x-large;
}

#translate-popup-mobile.hidden {
    transition: 0.3s ease-out;
    transform: translateY(-100%);
}
#translate-popup-mobile button {
    /* padding: 3px; */
    border-radius: 6px;
    background: none;
    border: 0;
    color: gray;
    width: 10%;
    height: auto;
}

.spacer {
    width: 0.1rem;
    background-color: var(--active-secondary-fg);
    padding: 0.1rem;
}

#translate-popup-desktop {
    position: absolute;
    background-color: var(--active-secondary-bg);
    color: var(--active-secondary-fg);
    z-index: 100;
    border:0.5rem solid var(--active-secondary-bg);
    outline: 0.1rem solid var(--active-secondary-fg);
    border-radius: 5px;
    max-width: 40%;
    max-height: 30%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    display: inline-block;

}
#translate-popup-desktop .btn-close {
    background-color: white;
}

#translate-popup-desktop.hidden {
    display: none;
}